# ========== Go ==========
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
vendor/

# ========== Node.js / Frontend ==========
node_modules/
dist/
.env
.env.local
.env.*.local

# ========== IDE ==========
.vscode/
.idea/
*.swp
*.swo
*~

# ========== OS ==========
.DS_Store
Thumbs.db

# ========== Build output ==========
/bin/
/build/

# ========== Logs ==========
*.log

# ========== Debug ==========
__debug_bin
debug

/docs

//测试文件
*_test.go
*_test_test.go
*_test_test_test.go